body {
  display: flex;
  flex-direction: row;
}

#chat {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  padding: 3px;
  /* used just to display avatar div*/
  /* TODO: use flex layout */
  float: left;
}

#input {
  width: 100%;
}

.input {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#messages {
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.message-name {
  font-weight: bold;
}

.message_bot-message {
  background-color: #cccccc;
  margin-left: 30px;
}

.message_user-message {
  background-color: #87ceeb;
  margin-right: 30px;
}

.message__image {
  width: 100%;
}

#avatar {
  width: 200px;
}

#avatar img {
  width: 100%;
}

#chat_player {
  display: none;
}
