certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
gTTS==2.3.2
idna==3.4
numpy==1.25.0
playsound==1.3.0
pycparser==2.21
pyttsx3==2.90
requests==2.31.0
scipy==1.10.1
sounddevice==0.4.6
urllib3==2.0.3
